<html ng-app="testApp">
<head>
    <title>AngularJS $Http service tutorial example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<style>
    table, th , td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>

<body ng-controller="testController">

<h2>$http Service Tutorial, v2</h2>

<button ng-click="getRequest()">Test Rest</button>

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>
            Timestamp
        </th>
        <th>
            Language
        </th>
        <th>
            Quote
        </th>
    </tr>
    </thead>
    <body>
    <tr ng-repeat="quote in quotes">
        <td>
            {{ quote.timestamp }}
        </td>
        <td>
            {{ quote.language }}
        </td>
        <td>
            {{ quote.text }}
        </td>
    </tr>
    </body>
</table>

<script src="js/script.js"></script>
</body>
</html>