<h2>Quotes Portal</h2>

<div>
  Request interval, ms
  <rzslider
    rz-slider-model="$ctrl.timeoutBetweenRequests"
    rz-slider-options="$ctrl.slider.options"></rzslider>
</div>

<p>
  Strength: <input type="number" data-ng-model="$ctrl.strength" min="3" max="31" /><br>
  Waiting requests: {{$ctrl.waitingRequests}}<br>
</p>

<button ng-click="$ctrl.getRequest()">One Request</button>
<button ng-click="$ctrl.toggleRequests()">
  <span data-ng-if="!$ctrl.running">Start</span>
  <span data-ng-if="$ctrl.running">Stop</span>
</button>

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Response Time</th>
        <th>Quote</th>
        <th>IP Address</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="quote in $ctrl.quotes | limitTo : 50">
        <td>
            {{ quote.timestamp | date:"yyyy-MM-dd HH:mm:ss sss" }}
        </td>
        <td>
          {{ quote.ms }}
        </td>
        <td>
          {{ quote.text }}
        </td>
        <td>
          {{ quote.ipAddress }}
        </td>
    </tr>
    </tbody>
</table>
