quotes-service:
  image: magnuslarsson/quotes:16

#portal.js:
#  image: magnuslarsson/portal.js:1
#  ports:
#    - "7070:80"
#  links:
#    - quotes-service

portal-service:
  image: magnuslarsson/portal:17
  ports:
    - "9090:9090"
  links:
    - quotes-service
